fastapi[standard]
jsonschema
genson
psutil
numpy==2.2.0
pandas==2.2.3
pipreqs==0.5.0
psutil==6.1.0
redis==5.2.1
sentry-sdk
requests==2.32.3
sentry-sdk
logfire
structlog
pydivkit
tool_call_models==0.1.25
